// // css app
// .ant-menu-item:hover:not(.ant-menu-item-selected, .no-hover) {
//   background: unset !important;
//   color: unset !important;
// }
@import "swiper/swiper-bundle.css";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@font-face {
  font-family: "Chango";
  src: local("Chango"),
    url("../../assets/fonts/Chango-Regular.ttf") format("opentype");
}

body {
  // font-family: "Quattrocento Sans", sans-serif;
  font-family: "Chango";
  background-image: url("../../assets/images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.glow-on-hover {
  cursor: pointer;
  z-index: 0;
}

.glow-on-hover:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.shadows-button-start-fort {
  background: #21294d;
  box-shadow: 4px 4px 0px #070707;
}

.ant-menu-item-selected {
  background: unset !important;
  color: #8b9bff !important;
  font-weight: 600 !important;
}
.ant-menu-item:hover,
.no-hover:hover {
  background: unset !important;
}
.ant-menu-vertical {
  border-inline-end: unset !important;
}

.ant-menu-item:hover:not(.ant-menu-item-selected) {
  color: #fdd913 !important;
}
.header-app {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(174, 247, 126, 0.71) 0%,
    #269078 100%
  );
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.17);
  position: fixed;
  .menu {
    border-inline-end: unset !important;
    gap: 12px;
    &__item {
      font-family: "Chango";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
}

.title-app {
  font-family: "Chango";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #fdd913;
}

.line-hr {
  width: 2px;
  height: 345px;
  background-image: url("../images/line.svg");
}

.range-get-pepe {
  input[type="range"]::-webkit-slider-runnable-track {
    background: #26423a;
    height: 6px;
    border-radius: 50px;
  }
  input[type="range"]::-webkit-slider-thumb {
    display: none;
  }
}
